<!DOCTYPE html>
<html>
<head>
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}

    {% block stylesheets %}
        {% stylesheets
        '@MyStaticBundle/Resources/public/less/knacss/knacss.less'
        '@MyStaticBundle/Resources/public/less/font-awesome/font-awesome.less'
        '@MyStaticBundle/Resources/public/less/normalize.less'
        '@MyStaticBundle/Resources/public/less/global.less'
        filter='uglifycss' filter='cssrewrite' %}

                <link rel="stylesheet" href="{{ asset_url }}">

        {% endstylesheets %}

    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


    <!--[if lt IE 9]>

    <script type="text/javascript" src="{{ asset('bundles/mystatic/js/html5shiv.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/mystatic/js/placeholder.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/mystatic/js/respond.min.js') }}"></script>


    <![endif]-->


    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {"message":"En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies.","dismiss":"OK","learnMore":"En savoir plus","link":"http://www.google.com/intl/fr_fr/policies/technologies/cookies/","theme":"dark-top"};
    </script>

    <script type="text/javascript" src="//s3.amazonaws.com/cc.silktide.com/cookieconsent.latest.min.js"></script>
    <!-- End Cookie Consent plugin -->



</head>

<body id="{% block id_body %}default{% endblock %}">


<header id="main_header">
    {% block header %}
    {% endblock %}
</header>

{% block body %}
{% endblock %}


<footer id="main_footer">
    {% block footer %}
    {% endblock %}
</footer>


{% block javascripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    {% javascripts '@MyStaticBundle/Resources/public/js/global.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
